<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::title},~{::link},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Nbnb</title>
  <link href="">
</head>
<body>
<section>
  <div class="container mx-auto my-10 mt-32 flex justify-between min-h-50vh">

    <div class="border w-1/4 p-10">
      <span class="text-center w-full block text-lg font-medium">Conversation between:</span>
      <div class="flex justify-between mt-10 items-center">

        <div class="flex flex-col items-center">
          <div th:replace="~{base/partials/profile_img :: profileImgFragment}"></div>
          <span class="mt-2 text-gray-500">호스트 이름</span>
        </div>

        <span class="font-medium text-2xl">&</span>

        <div class="flex flex-col items-center">
          <div th:replace="~{base/partials/profile_img :: profileImgFragment}"></div>
          <span class="mt-2 text-gray-500">사용자 이름</span>
        </div>
      </div>
    </div>
    <div class="flex-grow">
      <div class="border  ml-10 p-10 flex flex-col">

        보낸 메세지가 없습니다.

        <!--예약자-->
        <div class="mb-10 self-end text-right">
          <span class="text-sm font-medium text-gray-600">예약자 이름</span>
          <div class="mt-px p-5 w-56 rounded bg-teal-500 text-white bg-gray-300">보낸 메시지</div>
        </div>
      </div>
      <form class="mt-10 w-1/2 mx-auto" method="POST">
        <input class="border-box mb-5" name="message" placeholder="Write a Message" required />
        <button class="btn-link">Send Comment</button>
      </form>
    </div>

  </div>
</section>
</body>
</html>