<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="h-full" th:fragment="navFragment">
  <ul class="flex items-center text-sm font-medium h-full">
    <!--{% if user.is_authenticated %}
    <li class="nav_link">
      <a href="{% url 'users:switch-hosting' %}">
        {% if request.session.is_hosting %}
        {% trans "Stop hosting" %}
        {% else %}
        {% trans "Start hosting" %}
        {% endif %}
      </a>
    </li>
    {% if request.session.is_hosting %}
    <li class="nav_link"><a href="{% url 'rooms:create' %}">{% trans "Create Room" %}</a></li>
    {% endif %}
    <li class="nav_link"><a href="{% url 'lists:see-favs' %}">{% trans "Favs" %} ({{user.list.rooms.count}})</a></li>
    <li class="nav_link"><a href="{{user.get_absolute_url}}">{% trans "Profile" %}</a></li>
    <li class="nav_link"><a href="{% url "users:logout" %}">{% trans "Log out" %}</a></li>
    {% else %}-->
    <li class="nav_link"><a sec:authorize="isAuthenticated()" th:href="@{/members/profile}">프로필</a></li>
    <li class="nav_link"><a sec:authorize="isAuthenticated()" th:href="@{/members/logout}">로그아웃</a></li>
    <li class="nav_link"><a sec:authorize="isAnonymous()" th:href="@{/members/login}">로그인</a></li>
    <li class="nav_link"><a sec:authorize="isAnonymous()" th:href="@{/members/signup}">회원가입</a></li>
  </ul>
</div>
</body>
</html>
