<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::title},~{::link},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>프로필 | Nbnb</title>
  <link href="">
</head>
<body>
<section>
  <div
      class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">

    <form method="POST" class="w-full" enctype="multipart/form-data" th:object="${dto}" th:action="@{/profile/modify}">

      <div class="input w-full">
        <input type="text" th:field="*{email}" placeholder="이메일" readonly>
      </div>
      <div class="input w-full">
        <input type="text" th:field="*{name}" placeholder="이름" readonly>
      </div>

      <div class="input w-full">
        <textarea th:field="*{description}" placeholder="설명"></textarea>
      </div>

      <div class="input w-full">
        <input type="text" th:field="*{phone}" placeholder="핸드폰번호 ('-'는 빼고 입력해주세요.)">
      </div>

      <div class="input w-full">
        <input type="text" th:field="*{birth}" placeholder="생년월일 (ex. 19930101)">
      </div>

      <div class="input w-full">
        <input type="file" id="profile" name="profile" placeholder="파일">
      </div>

      <button class="btn bg-red-500 text-white">프로필 수정</button>
    </form>

    <!--email 로그인의 경우 비밀번호 찾기 기능-->
    <!--{% if object.login_method == 'email' %}
    <div class="mt-5">
      <a href="{% url 'users:password' %}" class="text-teal-500 font-medium">Change Password</a>
    </div>
    {% endif %}-->

  </div>
</section>
</body>
</html>