<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::title},~{::link},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Nbnb</title>
  <link href="">
</head>
<body>
<section>
  <div class="min-h-75vh">
    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">

      <div class="border-b border-gray-200 pb-4 mb-4">
        <dt class="font-medium text-gray-900">이메일 인증</dt>
        <dd class="mt-2 text-sm text-gray-500">회원가입 시 사용했던 이메일을 입력하면 해당 이메일 주소로 임시 비밀번호를 발급해드립니다.</dd>
      </div>

      <form method="POST" class="w-full" th:action="@{/members/email}" th:object="${dto}">
        <div class="input w-full">
          <input type="email" th:field="*{email}" placeholder="이메일">
        </div>

        <button type="submit" class="btn bg-red-500 text-white">이메일 인증하기</button>
      </form>

    </div>
  </div>
</section>
</body>
</html>
