<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::title},~{::link},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Nbnb</title>
  <link href="">
</head>
<body>
<section>
  <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex-col items-center border p-6 border-gray-400">

    <div th:replace="~{base/partials/social_login :: socialLoginFragment}"></div>

    <form method="POST" class="w-full" th:object="${dto}" th:action="@{/members/signup}">
      <div th:if="${#fields.hasGlobalErrors()}">
        <span class="text-sm text-red-700 font-medium" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
          회원가입 오류
        </span>
      </div>

      <div class="input w-full">
        <input type="text" th:field="*{email}" placeholder="이메일">
        <div class="mt-1 text-sm text-red-700 font-medium field-error" th:errors="*{email}">
          이메일 오류
        </div>
      </div>
      <div class="input w-full">
        <input type="password" th:field="*{password}" placeholder="비밀번호">
        <div class="mt-1 text-sm text-red-700 font-medium field-error" th:errors="*{password}">
          비밀번호 오류
        </div>
      </div>
      <div class="input w-full">
        <input type="password" th:field="*{passwordConfirm}" placeholder="비밀번호 확인">
        <div class="mt-1 text-sm text-red-700 font-medium field-error" th:errors="*{passwordConfirm}">
          비밀번호 확인 오류
        </div>
      </div>
      <div class="input w-full">
        <input type="text" th:field="*{name}" placeholder="이름">
        <div class="mt-1 text-sm text-red-700 font-medium field-error" th:errors="*{name}">
          이름 오류
        </div>
      </div>

      <button type="submit" class="btn bg-red-500 text-white">회원가입</button>
    </form>

    <div class="flex justify-center mt-5">
      <span class="mr-2">Have an account?</span>
      <a th:href="@{/members/login}" class="text-teal-500 font-medium">로그인</a>
    </div>

  </div>
</section>
</body>
</html>