<!DOCTYPE html>
<html th:fragment="base (title, links, content)" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:replace="${title}"> | Nbnb</title>

  <!-- 공통 -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
  <script th:src="@{/js/jquery.js}"></script>

  <!-- 추가 -->
  <th:block th:replace="${links}"/>
</head>
<body class="text-gray-800 mt-24 font-light">
<div th:replace="~{base/fragment/messages :: messageFragment}"></div>
<header
    class="container max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b border-gray-400 fixed bg-white">
  <div class="flex items-center w-1/3">
    <a href="/" class="mr-6">
      <img class="w-8" th:src="@{/image/logo.png}"/>
    </a>

    <form method="get" action="{% url 'rooms:search' %}" class="w-9/12">
      <input
          class="search-box border px-5 w-full font-medium text-gray-900 placeholder-gray-600 py-3 rounded-sm w-64 shadow-md hover:shadow-lg focus:outline-none"
          name="city" placeholder="Search By City"/>
    </form>

  </div>
  <div th:replace="~{base/fragment/nav :: navFragment}"></div>
</header>

<div th:replace="${content}">
  <p>메인 컨텐츠</p>
</div>

<div th:replace="~{base/fragment/footer :: footerFragment}"></div>
</body>
</html>