<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::title},~{::link},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Nbnb</title>
  <link href="">
</head>
<body>
<section>
  <div
      class="container lg:w-5/12 md:w-1/2 xl:w-1/3 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">

    <form method="POST" class="w-full" th:object="${dto}" th:action="@{/rooms/create/}">
      <div th:if="${#fields.hasGlobalErrors()}">
        <span class="text-sm text-red-700 font-medium" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
          숙소 등록 오류
        </span>
      </div>

      <legend class="text-base font-semibold leading-6 text-gray-900">기본 정보</legend>
      <div class="input w-full">
        <input type="text" th:field="*{title}" placeholder="숙소 이름">
        <span class="text-red-700 font-medium text-sm" th:errors="*{title}">오류</span>
      </div>
      <div class="input w-full">
        <textarea th:field="*{description}" placeholder="설명"></textarea>
        <span class="text-red-700 font-medium text-sm" th:errors="*{description}">오류</span>
      </div>
      <div class="input w-full">
        <input type="text" th:field="*{price}" placeholder="금액">
        <span class="text-red-700 font-medium text-sm" th:errors="*{price}">오류</span>
      </div>

      <legend class="text-base font-semibold leading-6 text-gray-900">주소</legend>
      <div class="input w-full">
        <input type="text" th:field="*{country}" placeholder="나라">
        <span class="text-red-700 font-medium text-sm" th:errors="*{country}">오류</span>
      </div>
      <div class="input w-full">
        <input type="text" th:field="*{city}" placeholder="도시">
        <span class="text-red-700 font-medium text-sm" th:errors="*{city}">오류</span>
      </div>

      <div class="flex items-center">
        <div class="input" style="width: 50%">
          <input type="text" th:field="*{zipcode}" placeholder="우편번호">
          <span class="text-red-700 font-medium text-sm" th:errors="*{zipcode}">오류</span>
        </div>
        <div class="input ml-5" style="width: 46%">
          <button class="btn bg-teal-500 text-white">우편번호 찾기</button>
        </div>
      </div>

      <div class="input w-full">
        <input type="text" th:field="*{address1}" placeholder="주소">
        <span class="text-red-700 font-medium text-sm" th:errors="*{address1}">오류</span>
      </div>
      <div class="input w-full">
        <input type="text" th:field="*{address2}" placeholder="상세주소">
        <span class="text-red-700 font-medium text-sm" th:errors="*{address2}">오류</span>
      </div>

      <legend class="text-base font-semibold leading-6 text-gray-900">기타 정보</legend>
      <div class="input w-full">
        <input type="number" th:field="*{guest}" placeholder="게스트">
        <span class="text-red-700 font-medium text-sm" th:errors="*{guest}">오류</span>
      </div>
      <div class="input w-full">
        <input type="number" th:field="*{bedroom}" placeholder="방">
      </div>
      <div class="input w-full">
        <input type="number" th:field="*{bed}" placeholder="침대">
      </div>
      <div class="input w-full">
        <input type="number" th:field="*{bath}" placeholder="욕실">
      </div>
      <div class="input w-full">
        <input type="time" th:field="*{checkIn}" placeholder="체크인">
        <span class="text-red-700 font-medium text-sm" th:errors="*{checkIn}">오류</span>
      </div>
      <div class="input w-full">
        <input type="time" th:field="*{checkOut}" placeholder="체크아웃">
        <span class="text-red-700 font-medium text-sm" th:errors="*{checkOut}">오류</span>
      </div>
      <div class="input w-full">
        <select style="height: 70px;" th:field="*{roomType}" placeholder="숙소 타입">
          <option value="">-- 선택 --</option>
          <option th:each="roomType : ${T(com.airbnb.room.entity.RoomType).values()}"
                  th:value="${roomType}" th:text="${roomType.name}"></option>
        </select>
        <span class="text-red-700 font-medium text-sm" th:errors="*{roomType}">오류</span>
      </div>

      <legend class="text-base font-semibold leading-6 text-gray-900 mb-1">파일첨부</legend>
      <div class="file-list">
        <input type="file" id="add-file-input" style="visibility: hidden;">
        <button type="button" id="add-file" onclick="onClickFileUpload();"
                class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          <div class="text-center">
            <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                 aria-hidden="true">
              <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"/>
            </svg>
            <h3 class="mt-2 text-sm font-semibold text-gray-900">파일 업로드</h3>
            <p class="mt-1 text-sm text-gray-500">Get started by creating a new project.</p>
          </div>
        </button>
        <div class="add-file-list-hidden"></div>
        <dd class="mt-1 text-sm text-gray-900">
          <ul id="add-file-list" role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                     aria-hidden="true">
                  <path fill-rule="evenodd"
                        d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                        clip-rule="evenodd"/>
                </svg>
                <span class="ml-2 w-0 flex-1 truncate">파일명</span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">삭제</a>
              </div>
            </li>
          </ul>
        </dd>
      </div>
      <script>
          function onClickFileUpload() {
              let addFileInput = document.getElementById("add-file-input");
              addFileInput.click();
          }

          function hiddenFile(o) {
              let file = '';
              file += '<input type="file" name="file" id="' + o.id + '"/>';
              return file;
          }

          function file(o) {
              let type = '';
              if (o.ext === 'pptx' || o.ext === 'ppt') {
                  type = 'powerpoint';
              } else if (o.ext === 'png' || o.ext === 'jpg') {
                  type = 'image';
              } else if (o.ext === 'xlsx') {
                  type = 'excel';
              } else if (o.ext === 'pdf') {
                  type = 'pdf';
              } else {
                  type = 'alt';
              }

              let fileThumbnail = '';
/*              fileThumbnail += '<div class="thumbnail">';
              fileThumbnail += '  <i class="far fa-file-' + type + '"></i>';
              fileThumbnail += '  <p class="name">' + o.name + '</p>';
              fileThumbnail += '  <a href="#' + o.id + '" class="delete"><i class="far fa-minus-square"></i></a>';
              fileThumbnail += '</div>';*/

              fileThumbnail += '<li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">';
              fileThumbnail += '  <div class="flex w-0 flex-1 items-center">';
              fileThumbnail += '    <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">';
              fileThumbnail += '      <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd"/>';
              fileThumbnail += '    </svg>';
              fileThumbnail += '    <span class="ml-2 w-0 flex-1 truncate">' + o.name + '</span>';
              fileThumbnail += '  </div>';
              fileThumbnail += '  <div class="ml-4 flex-shrink-0">';
              fileThumbnail += '    <a href="#' + o.id + '" class="font-medium text-indigo-600 hover:text-indigo-500 delete">삭제</a>';
              fileThumbnail += '  </div>';
              fileThumbnail += '</li>';

              return fileThumbnail;
          }

          function addFile(o) {
              $('.add-file-list-hidden').append(hiddenFile(o));
              $('#' + o.id).click();
              $('#' + o.id).on('change', function (e) {
                  const arr1 = e.target.value.split('\\');
                  const name = arr1[arr1.length - 1];
                  o.name = name;

                  const arr2 = e.target.value.split('.');
                  const ext = arr2[arr2.length - 1];
                  o.ext = ext;

                  $('.add-file-list').append(file(o));
              });
          }

          function makeId(length) {
              var result = '';
              var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
              var charactersLength = characters.length;
              for (var i = 0; i < length; i++) {
                  result += characters.charAt(Math.floor(Math.random() * charactersLength));
              }
              return result;
          }

          $(document).on('click', '#addFile', function () {
              addFile({id: makeId(10)});
          });
          $(document).on('click', '.delete', function () {
              const id = $(this).attr('href');
              $(id).remove();
              $(this).parent().remove();
          });
      </script>

      <fieldset class="m-5 mt-8">
        <legend class="text-base font-semibold leading-6 text-gray-900">편의시설</legend>
        <div class="mt-2 divide-y divide-gray-200 border-b border-t border-gray-200">
          <div th:each="amenity: ${amenities}" class="flex items-start py-4">
            <div class="min-w-0 flex-1 text-sm leading-6">
              <label class="select-none font-medium text-gray-900"
                     th:for="${amenity.id}" th:text="${amenity.name}">이름</label>
            </div>
            <div class="ml-3 flex h-6 items-center">
              <input type="checkbox" th:field="*{amenities}" th:value="${amenity.id}"
                     class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="m-5 mt-8">
        <legend class="text-base font-semibold leading-6 text-gray-900">주변시설</legend>
        <div class="mt-2 divide-y divide-gray-200 border-b border-t border-gray-200">
          <div th:each="facility: ${facilities}" class="flex items-start py-4">
            <div class="min-w-0 flex-1 text-sm leading-6">
              <label class="select-none font-medium text-gray-900"
                     th:for="${facility.id}" th:text="${facility.name}">이름</label>
            </div>
            <div class="ml-3 flex h-6 items-center">
              <input type="checkbox" th:field="*{facilities}" th:value="${facility.id}"
                     class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="m-5 mt-8">
        <legend class="text-base font-semibold leading-6 text-gray-900">공용 규칙</legend>
        <div class="mt-2 divide-y divide-gray-200 border-b border-t border-gray-200">
          <div th:each="houseRule: ${houseRules}" class="flex items-start py-4">
            <div class="min-w-0 flex-1 text-sm leading-6">
              <label class="select-none font-medium text-gray-900"
                     th:for="${houseRule.id}" th:text="${houseRule.name}">이름</label>
            </div>
            <div class="ml-3 flex h-6 items-center">
              <input type="checkbox" th:field="*{houseRules}" th:value="${houseRule.id}"
                     class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="border-b border-gray-200">
        <div class="divide-y divide-gray-200">
          <div class="relative flex items-start p-5">
            <div class="min-w-0 flex-1 text-sm leading-6">
              <label class="font-medium text-gray-900">예약여부</label>
              <p id="instantBook-description" class="text-gray-500">사용자가 숙소를 결제할 때 예약을 필수로 해야하는지에 대한 여부를 표시합니다.</p>
            </div>
            <div class="ml-3 flex h-6 items-center">
              <input type="checkbox" th:field="*{instantBook}" aria-describedby="instantBook-description"
                     class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" placeholder="예약여부">
            </div>
          </div>
        </div>
      </fieldset>
      <button class="btn bg-red-500 text-white">숙소 등록하기</button>
    </form>
  </div>
</section>
</body>
</html>